.title {
	text-align: center;
	width: 1280px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu {
	list-style: none;
	display: inline-flex;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 18px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-text {
	color: rgba(255, 0, 0, 1);
	font-weight: 600;
	text-decoration: none;
	margin-left: 40px;
	margin-right: 40px;
}

.headline {
	text-align: center;
	width: 1280px;
	font-size: 22px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgba(55, 55, 55, 1);
	word-spacing: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.text {
	width: 1145px;
	font-size: 16px;
	text-align: center;
	margin-left: 67px;
	margin-right: 67px;
	color: rgba(55, 55, 55, 1);
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-centre {
	width: 1280px;
	text-align: center;
	margin-top: 60px;
}

.button {
	background-color: #e91f1f;
	color: aliceblue;
	border: #e91f1f;
	min-height: 50px;
	min-width: 200px;
	font-size: 12px;
	border-radius: 5px;
}

.footer-text {
	color: rgba(55, 55, 55, 1);
	font-size: 16px;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	margin-top: 60px;
}